body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
    margin-top: 30px;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    background-color: #2980b9;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#yourGuidesBtn, #recommendBtn {
    background-color: #181a1b;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
}

#bookReviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bookContainer {
    max-width: 200px;
    margin: 30px auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    flex: 0 0 calc(33.33% - 20px);
}
.bookContainer:hover{
    cursor: pointer;
    background-color: rgb(126, 251, 251);
}

.bookContainer img {
    max-width: 100%;
    border-radius: 5px;
}

.bookContainer img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.bookContainer p {
    font-size: 18px;
    margin-top: 10px;
}
.wheel {
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 50px;
    position: absolute;
    height: 75vw;
    width: 75vw;
    margin:10rem;
    max-width: 500px;
    max-height: 500px;
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .line {
    background-color: black;
    width: 50%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
  }
  
  .line:nth-of-type(2) {
    transform: rotate(60deg);
  }
  .line:nth-of-type(3) {
    transform: rotate(120deg);
  }
  .line:nth-of-type(4) {
    transform: rotate(180deg);
  }
  .line:nth-of-type(5) {
    transform: rotate(240deg);
  }
  .line:nth-of-type(6) {
    transform: rotate(300deg);
  }
  
  .cabin {
    background-color: red;
    width: 25%;
    height: 25%;
    position: absolute;
    border: 2px solid;
    transform-origin: 50% 0%;
    animation: cabins 10s ease-in-out infinite;
  }
  
  .cabin:nth-of-type(1) {
    right: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(2) {
    right: 17%;
    top: 93.5%;
  }
  .cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
  }
  .cabin:nth-of-type(4) {
    left: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(5) {
    left: 17%;
    top: 7%;
  }
  .cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
  }
  
  @keyframes wheel {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
  }
  
  @keyframes cabins {
    0% {
      transform: rotate(0deg);
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: purple;
    }
    100% {
      transform: rotate(-360deg);
    }
  }