

.macbookAir1Child {
    position: absolute;
    top: 19px;
    left: 40px;
    border-radius: 15px;
    width: 1212px;
    height: 797px;
  }
  .i,
  .productix {
    font-size: var(--font-size-11xl);
  }
  .productix {
    color: #f28925;
  }
  .infiniteproductix {
    position: absolute;
    top: 24px;
    left: 132px;
    font-family: var(--font-inknut-antiqua);
    color: #bd30b1;
  }
  .screenshot20230907230318RIcon {
    position: absolute;
    top: 255px;
    left: 640px;
    border-radius: 41px;
    width: 20rem;
    height: 415px;
    object-fit: cover;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 119.01px;
    border-radius: var(--br-12xs);
    width: 106px;
    height: 38px;
  }
  .groupItem,
  .register {
    position: absolute;
    top: 1px;
  }
  .groupItem {
    left: 120.01px;
    border-radius: var(--br-12xs);
    width: 104px;
    height: 36.94px;
  }
  .register {
    left: 131px;
    display: inline-block;
    width: 109px;
    height: 18px;
  }
  .groupInner,
  .rectangleIcon {
    position: absolute;
    top: 0;
    left: 0.01px;
    border-radius: var(--br-12xs);
    width: 104px;
    height: 36.94px;
  }
  .rectangleIcon {
    top: 1px;
    width: 106px;
    height: 38px;
  }
  .groupChild1,
  .login {
    position: absolute;
    top: 2px;
  }
  .groupChild1 {
    left: 1.01px;
    border-radius: var(--br-12xs);
    width: 104px;
    height: 36.94px;
  }
  .login {
    left: 33px;
    display: inline-block;
    width: 109px;
    height: 18px;
  }
  .iconLockLocked {
    position: absolute;
    height: 53.85%;
    width: 7.08%;
    top: 20.51%;
    right: 89.58%;
    bottom: 25.64%;
    left: 3.33%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vectorParent {
    position: absolute;
    top: 37px;
    left: 1012px;
    width: 240px;
    height: 39px;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    font-family: var(--font-inknut-antiqua);
  }
  .blankLine {
    margin: 0;
  }
  .unleashYourPotentialContainer {
    position: absolute;
    top: 320px;
    left: 59px;
    font-size: var(--font-size-6xl);
    line-height: 142.34%;
    background: linear-gradient(130.96deg, rgba(95, 64, 79, 0.99), #4a423b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 417px;
    height: 368px;
  }
  .screenshot20230907230108RIcon {
    position: absolute;
    top: 37px;
    left: 51px;
    border-radius: 140.5px;
    width: 82px;
    height: 44px;
    object-fit: cover;
  }
  .meets {
    font-size: var(--font-size-21xl);
  }
  .infinite {
    font-size: 50px;
  }
  .meetsInfinitePossibilities {
    background: linear-gradient(130.96deg, rgba(95, 64, 79, 0.99), #4a423b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-size-21xl);
  }
  .productivityMeetsInfiniteContainer {
    position: absolute;
    top: 187px;
    left: 59px;
    line-height: 142.34%;
    display: inline-block;
    width: 554px;
    height: 217px;
    font-size: var(--font-size-47xl);
    color: #8e2485;
  }
  .groupChild2 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-11xl);
    width: 459px;
    height: 468px;
  }
  .manReadingABookIllustratioIcon {
    position: absolute;
    top: 27px;
    left: 79px;
    width: 302px;
    height: 234px;
    object-fit: cover;
  }
  .discoverExpertInsights {
    position: absolute;
    top: 315px;
    left: 60px;
    line-height: 142.34%;
    display: inline-block;
    width: 363px;
    height: 93px;
  }
  .productivityBookReview {
    position: absolute;
    top: 252px;
    left: 101px;
    font-size: var(--font-size-6xl);
    line-height: 142.34%;
    color: var(--color-midnightblue);
  }
  .vectorGroup {
    position: absolute;
    top: 816px;
    left: 704px;
    width: 459px;
    height: 468px;
    color: var(--color-gray);
  }
  .frameChild {
    position: relative;
    border-radius: var(--br-11xl);
    width: 459px;
    height: 468px;
    z-index: 0;
  }
  .oip1Icon {
    position: absolute;
    margin: 0 !important;
    top: 15px;
    left: 38px;
    width: 405px;
    height: 234px;
    object-fit: cover;
    z-index: 1;
  }
  .elevateProductivityTackle,
  .productivityChallenges {
    position: absolute;
    margin: 0 !important;
    top: 252px;
    left: 107px;
    line-height: 142.34%;
    z-index: 2;
  }
  .elevateProductivityTackle {
    top: 314px;
    left: 59px;
    font-size: var(--font-size-xl);
    color: var(--color-gray);
    display: inline-block;
    width: 363px;
    height: 93px;
    flex-shrink: 0;
    z-index: 3;
  }
  .macbookAir1Inner,
  .vectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vectorContainer {
    flex-direction: column;
    position: relative;
    gap: 10px;
  }
  .macbookAir1Inner {
    position: absolute;
    top: 816px;
    left: 132px;
    flex-direction: row;
    font-size: var(--font-size-6xl);
    color: var(--color-midnightblue);
  }
  .oip1Icon1 {
    position: absolute;
    top: 49px;
    left: 73px;
    width: 306px;
    height: 177px;
    object-fit: cover;
  }
  .templatesAndWorksheets,
  .templatesAndWorksheets1 {
    position: absolute;
    top: 252px;
    left: 95px;
    line-height: 142.34%;
  }
  .templatesAndWorksheets1 {
    color: var(--color-midnightblue);
  }
  .unlockYourPotential {
    position: absolute;
    top: 314px;
    left: 59px;
    font-size: var(--font-size-xl);
    line-height: 142.34%;
    display: inline-block;
    width: 363px;
    height: 93px;
  }
  .groupDiv {
    position: absolute;
    top: 1342px;
    left: 132px;
    width: 459px;
    height: 468px;
    font-size: var(--font-size-6xl);
  }
  .unlockYourPotential1 {
    position: absolute;
    top: 314px;
    left: 79px;
    line-height: 142.34%;
    display: inline-block;
    width: 338px;
    height: 93px;
  }
  .targetAudience1RemovebgPreIcon {
    position: absolute;
    top: 23px;
    left: 115px;
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
  .goalSettingPlanning {
    position: absolute;
    top: 252px;
    left: 102px;
    font-size: var(--font-size-6xl);
    line-height: 142.34%;
    color: var(--color-midnightblue);
  }
  .vectorParent1 {
    position: absolute;
    top: 1342px;
    left: 704px;
    width: 459px;
    height: 468px;
  }
  .macbookAir1 {
    position: relative;
    background-color: #edece8;
    width: 100%;
    height: 2221px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-im-fell-double-pica);
  }
  .wheel {
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    height: 55vw;
    width: 55vw;
    max-width: 500px;
    max-height: 500px;
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .line {
    background-color: black;
    width: 50%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
  }
  
  .line:nth-of-type(2) {
    transform: rotate(60deg);
  }
  .line:nth-of-type(3) {
    transform: rotate(120deg);
  }
  .line:nth-of-type(4) {
    transform: rotate(180deg);
  }
  .line:nth-of-type(5) {
    transform: rotate(240deg);
  }
  .line:nth-of-type(6) {
    transform: rotate(300deg);
  }
  
  .cabin {
    background-color: red;
    width: 20%;
    height: 20%;
    position: absolute;
    border: 2px solid;
    transform-origin: 50% 0%;
    animation: cabins 10s ease-in-out infinite;
  }
  
  .cabin:nth-of-type(1) {
    right: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(2) {
    right: 17%;
    top: 93.5%;
  }
  .cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
  }
  .cabin:nth-of-type(4) {
    left: -8.5%;
    top: 50%;
  }
  .cabin:nth-of-type(5) {
    left: 17%;
    top: 7%;
  }
  .cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
  }
  
  @keyframes wheel {
     0% {
       transform: rotate(0deg);
     }
     100% {
       transform: rotate(360deg);
     }
  }
  
  @keyframes cabins {
    0% {
      transform: rotate(0deg);
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: purple;
    }
    100% {
      transform: rotate(-360deg);
    }
  }